.header {
    
}

.header .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.header ul {
    display: flex;
    justify-content: space-between;
    padding: 0px 300px;
    list-style-type: none;
}

.main {
    display: flex;
    justify-content: space-around;
}

.main .right {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .left {
    margin-top: 100px;
}